<section class="row">
  <% @shirts.each do |shirt| %>
    <article class="span3">
      <header><%= shirt.name %></header>
      <p><%= truncate shirt.description, separator: " " %></p>
      <%= image_tag shirt.image_url(:thumb) %>
      <div>
        <%= link_to "Show", shirt %>
      </div>
    </article>
  <% end %>
</section>
